<!DOCTYPE html>
<html>
  <head>
   
    <!--  JQUERY -->
    <script type="text/javascript"  src="../jquery/jquery-1.11.1.min.js"></script>

   
    <!--  JOYSTICK -->
    <script type="text/javascript"  src="../joystick/virtualjoystick.js"></script>

    <!--  ROS -->
    <script type="text/javascript" src="../ros/eventemitter2.min.js"></script>
    <script type="text/javascript" src="../ros/roslib.min.js"></script>
    <script type="text/javascript" src="widget_robot_control_joy.js"></script>
   

    <link rel="stylesheet" type="text/css" href="widget_robot_control.css">
  </head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
  <body>
   
      <div id="joystickcontainer"></div>

  </body>
</html>
