<!DOCTYPE html>
<html>
  <head>
   
    <!--  JQUERY -->
    <script type="text/javascript"  src="../jquery/jquery-1.11.1.min.js"></script>

   
    <!--  JOYSTICK -->
    <script type="text/javascript"  src="../joystick/virtualjoystick.js"></script>

    <!--  ROS -->
    <script type="text/javascript" src="../ros/eventemitter2.min.js"></script>
    <script type="text/javascript" src="../ros/roslib.min.js"></script>
    <script type="text/javascript" src="widget_robot_control.js"></script>
   

    <link rel="stylesheet" type="text/css" href="widget_robot_control.css">
  </head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
  <body>
   
    <table class="table" style="width:20%;height50%">
      <tr>
        <td> </td>
        <td><button id="Up" class="button" onclick="moveTurtleButtonUp(this)">Up </button></td> 
        <td> </td>
      </tr>
      <tr>
        <td><button id="Left" class="button" onclick="moveTurtleButtonUp(this)">Left</button></td>
        <td><button id="Down" class="button" onclick="moveTurtleButtonUp(this)">Down</button></td> 
        <td><button id="Right" class="button" onclick="moveTurtleButtonUp(this)">Right</button></td>
      </tr>
    </table>

  </body>
</html>
